@import url('https://fonts.googleapis.com/css?family=Caveat|Pacifico&display=swap&subset=latin-ext');


body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-image: url("https://ih1.redbubble.net/image.1031972376.5594/bg,f8f8f8-flat,750x,075,f-pad,750x1000,f8f8f8.jpg");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-attachment: fixed;
    background-size: 25%;
    background-color: #f8f8f8;

}

h2,
h1 {
    font-family: 'Lora', serif;

}

.heart {
    fill: red;
    position: relative;
    top: 5px;
    width: 70px;
    animation: pulse 1s ease infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.letter {
    background-color: #E7DCDE;
    width: 400px;
    padding: 48px;
    position: relative;
    max-width: 90vw;
    margin: 5vh auto;
    border-radius: 15px;
    border: 2px solid #6E4667;

}

.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: all 1.8s;
}

.modal-window>div {
    border-radius: 15px;
    border: 2px solid;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: #ffffff;
    color: #333333;


}

.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}

.modal-window:target {
    opacity: 1;
    pointer-events: auto;
}


.letter {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.main-title {
    font-family: 'Pacifico', cursive;
}

p {
    font-size: 22px;
    font-family: 'Caveat', cursive;
}

.giphy-embed {
    pointer-events: none;
    padding: 1px;
    position: relative;
}

.image-container {
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}